* {}

.Header {
    display: grid;
    justify-content: center;
    align-items: center;
}

.HeaderText {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #064749;


}

.HeaderText h1 {
    font-size: 12px;
    text-align: center;
    color: #064
}
.AppHead{
    margin: 1rem;
    text-align: center;   
}
.App {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 8rem;
}

.App h1 {
    color: #066d20;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.App .Link {
    margin: 1rem;
    gap: 1rem;


}

.Link h4 {
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #74e0db;
    text-decoration: none;
}

.AppContent {
    gap: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;

}

.AppContent {
    display: grid;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

h1:hover {
    color: #e9e0e3;
    cursor: not-allowed
}

h4:hover {
    color: #e9e0e3;
}

.Link:hover {
    color: #e9e0e3;
    cursor: pointer;
}

body:hover {
    background-color: #4e081f;
}