* {
}
body{
    background:linear-gradient(to top, #99878d, #033670)
}

.AppHead{
    margin: 1rem;
    text-align: center;   
}
.App {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 8rem;
}

.App h1 {
    color: #066d20;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.App .Link {
    margin: 1rem;
    gap: 1rem;


}

.Link h4 {
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #09a12a;
    text-decoration: none;
}

.Link h2 {
    color: #b177a2;

}
