* {}


.AppHead{
    margin: 1rem;
    text-align: center;   
}
.App {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 8rem;
}

.App h1 {
    color: #066d20;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.App .Link {
    margin: 1rem;
    gap: 1rem;


}

.Link h4 {
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #09a12a;
    text-decoration: none;
}

h1:hover {
    color: #e9e0e3;
    cursor: not-allowed
}

h4:hover {
    color: #e9e0e3;
}

.Link h2:hover {
    color: #99878d;
    cursor: pointer;
}
.Link h2 {
    color: #b177a2;

}
body:hover {
    background-color: #4e081f;
}